.tangerine-regular{
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
body{
    

}
* {font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #f1f1f1;
    background-color: black;

}
.imgcontainer{
    background: none;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.arbol {
    height: 280px;
    
}
.hada {
    height: 280px;
    
    
}
.profile{
    height: 280px;
}
.under{
    height: 280px;
}
.meli {
    height: 280px;
}
.imgcontainer1 {
    background: none;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.Maceta {
    height: 280px;
}
.Maceta2 {
    height: 280px;
}
.Vaquita {
    height: 280px;
}
.imgcontainer2{
    background: none;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.flo1 {
    height: 450px;
}
.flo2 {
    height: 450px;
}
.flo3 {
    height: 450px;
}
.piba {
    height: 350px;
}
.hongos {
    height: 280px;
}
.lion {
    height: 280px;
}
.lion1 {
    height: 280px;
}
.danae {
    height: 280px;
}
.shuinori {
    height: 280px;
}
.morrigan {
    height: 280px;
}
.victoriaf {
    height: 280px;
}
.imgcontainer3{
    background: none;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.imgcontainer4{
    background: none;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.port {
    font-size: 75px;
    text-align: center;
}