* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tangerine", cursive;

    font-weight: 400;
    font-style: normal;
    color: black

    
    

}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img {
    width: 100%;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
.container2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 10px;
}
.gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery2 img {
    width: 100%;
}
.container3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 10px;
}
.gallery3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery3 img {
    width: 100%;
}
.container4 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 10px; 
}
.gallery4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 28px;
}
.gallery4 img {
    width: 100%;
}
.container5 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    padding: 10px;
}
.gallery5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery5 img {
    width: 100%;
}