* {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    font-family: "Tangerine", cursive;
    font-weight: 100;
    font-style: normal;
    color: #f1f1f1;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
.ytr {
    font-size: 80px;
  }
.abme{
    background-image: none;
    text-align: left;
    font-size: 35px;
  }

.pie-pagina{
    font-size: 30px;
}
.profile {
   
    height: 450px;

}
.barra {
    transform: rotate(90deg);
    color: #f1f1f1;
    border-color: #f1f1f1;
    border-width: 2px;
    width: 800px;
    position: absolute;
    left: 380px;
    top: 295px;
}
.group {
    
    position: absolute;
    top: 150px;
    right: 170px;
    

}
.link {
    font-size: 50px;
}
