.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }

body{
    text-align: center;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
input[type=text], input[type=password] {
    width: 25%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}
button {
    background-color: #1f201f;
    color: white;
    padding: 10px 20px;
    margin:8px 80;
    border:none;
    cursor:pointer;
    width: 30%;
;
    
}
form {
    border: 3px solid #f1f1f1; 
}
button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align:center;
    margin: 24px 0 12px 0;
}
img.avatar{
    width:18%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
* {font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #f1f1f1;
    

}